{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }]],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          { "displayName": true, "fileName": true }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "displayName": false,
            "fileName": false,
            "minify": true,
            "pure": true
          }
        ]
      ]
    }
  }
}
