{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          { "displayName": true, "fileName": true }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "displayName": false,
            "fileName": false,
            "minify": true,
            "pure": true
          }
        ]
      ]
    },
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        [
          "babel-plugin-styled-components",
          { "displayName": true, "fileName": true }
        ]
      ]
    }
  }
}
