.Navigation {
  @media print {
    display: none;
  }
  position: absolute;
  bottom: 15px;
  @media (min-width: 576px) {
    bottom: 10px;
  }
  left: 10px;
  width: 32px;
  .btn {
    margin-top: 3px;
    padding: 0;
    border: 1px solid lightgray;
    line-height: 1;
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}

//top level of Navigation
@media print {
  .tooltip {
    display: none;
  }
}

.ShareModal {
  .shareButton {
    margin-bottom: 8px;
    svg {
      height: 2em;
      width: 2em;
      border-radius: 3px;
      margin-right: 5px;
    }
    .btn {
      svg {
        font-size: 0.65em;
        margin: 0.5em 10px 0.5em 0.5em;
      }

      padding: 0 0.5em 0 0;
    }
  }
}
