.SearchBar {
  background-color: #eee;
  @media print {
    display: none;
  }
  .container {
    height: 100%;
  }
  .searchBox {
    position: relative;
    color: #212529;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .input-group {
      position: relative;
      .input-group-prepend {
        position: absolute;
        z-index: 5;
        top: 11px;
        left: 9px;
        color: var(--gray);
      }
    }

    #searchBox {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      padding-left: 32px;
    }

    .shouldSelectProp {
      //border-color: green;
      //background-color: #ffc107;
      font-style: italic;
    }
  }
  .dropdown-toggle {
    border: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
    width: 100%;
  }
  .dropdown-menu {
    max-height: 32 * 8px + 8px !important;
    overflow-y: auto;
    .fav {
      font-weight: bold;
    }
  }
  .submitButton {
    margin-bottom: 1rem;
    width: 100%;
  }
  .Suggestions {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #f8f9fa;
    .searchingMessage {
      padding: 0.375rem 0.75rem;
      color: grey;
      .spinner-border {
        width: 1.2em;
        height: 1.2em;
        margin-right: 10px;
      }
    }
    .searchResultBtn {
      width: 100%;
      text-align: left;
      line-height: 1.2;
      b {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      i {
        display: block;
        color: gray;
        text-decoration: gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
